<footer id="footer" class="footer">
    <div class="container">
      <div class="top-part">
        <div class="company">
          <a href="/index">
            <picture>
            <img
              class="iconLight"
              src="/assets/images/logo-bottom.svg"
              loading="lazy"
              alt="Logo bottom"
            />
            <img
              class="iconDark"
              src="/assets/images/logo-bottom-dark.svg"
              loading="lazy"
              alt="Logo bottom"
            />
            </picture>
          </a>
          <p>We believe that every small business deserves
            a website that suits them and helps them create
            their online presence.</p>
          <a href="" class="btn --primary-button">Contact Us</a>
        </div>
        <div class="footer-navigation">
          <div class="link-part">
            <h6>Pages</h3>
            <ul class="footer-list">
              <li><a href="/index">Home</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/about">Portfolio</a></li>
              <li><a href="/index#projects">About</a></li>
              <li><a href="/">Industries</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
          <div class="link-part">
            <h6>Services</h6>
            <ul class="footer-list no-hover-line">
              <li><a href="">Web design</a></li>
              <li><a href="">SEO</a></li>
              <li><a href="">Graphic Design</a></li>
              <li><a href="">Website Maintenance</a></li>
              <li><a href="">Social Media</a></li>
            </ul>
          </div>
          <div class="link-part">
            <h6>Contact Us</h6>
            <ul class="footer-list contact-list">
              <li><a target="_blank" href="mailto:info@webprishtina.com"><img src="/assets/images/mails.svg" alt="">info@webprishtina.com</a></li>
              <li><a target="_blank" href="https://api.whatsapp.com/send/?phone=%2B38349135244&text&type=phone_number&app_absent=0"><img src="/assets/images/mobil.svg" alt="">+383 (0) 049 135 244</a></li>
              <li><a target="_blank" href="https://g.co/kgs/3hyMf42"><img src="/assets/images/location.svg" alt="">Prishtine</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="bottom-part">
        Copyright © <span id="demo"></span> | Web Prishtina | All Rights Reserved
        <img src="/assets/images/satisfaction-guaranteed.svg" alt="">
      </div>
    </div>
  </footer>