<footer id="footer" class="footer">
    <div class="container">
      <div class="top-part">
        <div class="company">
          <img
              src="/assets/images/logo-bottom.svg"
              loading="lazy"
              alt="Logo bottom"
          />
          <div class="methods-wrapper">
            <div class="type">
              <a target="_blank" href="mailto:info@prishtinawebdesign.com">
                <img
                src="/assets/images/mails.svg"
                width="20" height="20"
                alt="Email icon"
                />
                info@prishtinawebdesign.com
              </a>
            </div>
            <div class="type">
              <a target="_blank" href="https://api.whatsapp.com/send/?phone=%2B38349135244&text&type=phone_number&app_absent=0">
                <img
                src="/assets/images/mobil.svg"
                width="20" height="20"
                alt="Mobile"
                />
                +383 49 135 244
              </a>
            </div>
          </div>
        </div>
        <div class="footer-navigation">
          <div class="link-part">
            <h6>Faqet</h3>
            <ul class="footer-list">
              <li><a href="/index">Ballina</a></li>
              <li><a href="/services">Shërbimet</a></li>
              <li><a href="/about">Rreth Nesh</a></li>
              <li><a href="/index#projects">Projektet</a></li>
              <li><a href="/contact">Kontakti</a></li>
            </ul>
          </div>
          <div class="link-part">
            <h6>Sherbimet</h6>
            <ul class="footer-list no-hover-line">
              <li><a href="">Web design</a></li>
              <li><a href="">Krijimi i logos</a></li>
              <li><a href="">Rrjetet sociale</a></li>
              <li><a href="">Mirëmbajtje</a></li>
              <li><a href="">SEO</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="bottom-part">
        Copyright © <span id="demo"></span> | Prishtina Web Designs | All Rights Reserved
      </div>
    </div>
  </footer>