<header class="header">
    <div class="nav-container">
      <picture class="logotop">

        <img class="iconlight" src="assets/images/logo-top.svg" alt="">
        <img class="icondark" src="assets/images/logo-top-dark.svg" alt="">
      </picture>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>    
      </label>
      <div class="nav-right">
        <nav class="navbar">
          <a class="active" href="/index">Ballina</a>
          <a href="/services">Sherbimet</a>
          <a href="/about">Rreth Nesh</a>
          <a href="/index#projects">Projektet</a>
          <a href="/contact">Kontakti</a>
        </nav>
        <button id="dark-mode-toggle" class="dark-mode-toggle">
          <img class="iconswitch" id="iconswitch" src="assets/images/sun.svg" alt="Moon and sun">
        </button>
      </div>
    </div>
  </header>