---
title: about
layout: 'base.njk'
---

<section id="about" class="about">
  <div class="aboutComponents">
    <img src="/assets/images/clock.svg" alt="">
    <img src="/assets/images/rocket.svg" alt="">
    <img src="/assets/images/digit.svg" alt="">
    <img src="/assets/images/blue.svg" alt="">
    <img src="/assets/images/green.svg" alt="">
  </div>
  <div class="about-bgImage"></div>
  <div class="container">
          <div class="theflow-wrapper">
            <h1 class="section-title">Website is an investment
              that works around the clock</h1>
            <p>A website is a valuable tool which, constantly engages visitors,
              generates leads, and helps grow your business even when you sleep.</p>
            <a href="" class="btn --primary-button">Contact Us</a>
          </div>
  </div>
</section>
<section class="about">
  <div class="container">
    <div class="container-wrapper">
      <div class="aboutus-wrapper">
        <div class="aboutImage">
          <div class="imageWrapper">
            <picture class="image-side">
            <source
            srcset="/assets/images/about.webp"
            /> 
            <img
            class="about-us"
            src="assets/images/aboutImage.jpg"
            loading="lazy"
            alt="Developer debugging code in his desk"
            />
            </picture>
          </div>
          <img class="aboutShape" src="/assets/images/aboutShape.svg" alt="">
        </div>
        <div class="contentText">
          <div><span class="index">About us</span></div>
          <h2 class="section-title">Web Design & Development
            Agency, with a twist</h2>
          <p class="description">The idea for the business was born spontaneously when, during the cooperation with one of our clients, he asked us if there was a possibility of subscribing to our service. After that, we also came up with the idea of ​​creating a website, but with a twist. The cost of the service would be affordable and monthly. <br><br>Thus, small businesses will have more opportunities to create their online presence without worrying too much about its cost.</span>
          </p>
          <a href="" class="btn --primary-button">Learn more</a>
        </div>
        
      </div>
    </div>
  </div>
</section>
<section class="ctaflow">
  <div class="ctaBg"></div>
  <div class="container">
    <div class="ctaWrapper">
      <div class="innerCta">
        <div class="contentCta">
          <h2 class="section-title">Ready to uplift your online presence</h2>
          <p>Write to us to discuss your project. We will respond within 24 hours.</p>
        </div>
        <a href="" class="btn --secondary-button">Contact Us</a>
      </div>
    </div>
  </div>
</section>
<section id="whatwedo" class="whatwedo">
  <div class="container">
    <div class="container-wrapper">
      <div class="upper-part">
      <div><span class="index">What we do</span></div>
      <h2 class="section-title">Never worry again about
        your online presence</h2>
      <p class="description">We code websites from scratch for faster performance, which impacts the increase in
        website visitors as well as the increase in profits of your business. 
        This way you focus only on running it, without wasting time.
      </div>
      <div class="boxes-wrapper">
        <div class="block-item">
          <div class="icon-features">
            <picture class="block-icon iconlight">
            <img 
            src="/assets/images/uniqueContent.svg"
            loading="lazy"
            alt="Web Design lightMode"
            />
            </picture>
            <picture class="block-icon icondark">
            <img 
            src="/assets/images/uniqueContent-dark.svg"
            loading="lazy"
            alt="Web Design darkMode"
            />
            </picture>
          </div>
          <h3 class="section-title">Unique content</h3>
          <p>Your online business presence should come first. We think it through, and we position it precisely to attract more customers.</p>
        </div>
        <div class="block-item">
          <div class="icon-features">
            <picture class="block-icon iconlight">
              <img 
              src="/assets/images/flexibleDesign.svg"
              loading="lazy"
              alt="Responsiveness lightMode"
              />
            </picture>
            <picture class="block-icon icondark">
          <img 
          src="/assets/images/flexibleDesign-dark.svg"
          loading="lazy"
          alt="Responsiveness darkMode"
          />
            </picture>
          </div>
          <h3 class="section-title">Flexible design</h3>
          <p>The site is suitable for all device screens such as phones, personal computers, and tablets, so that your customers can find you more easily.</p>
        </div>
        <div class="block-item">
          <div class="icon-features">
            <picture class="block-icon iconlight">
              <img 
              src="/assets/images/highSpeed.svg"
              loading="lazy"
              alt="Optimized lightMode"
              />
            </picture>
            <picture class="block-icon icondark">
          <img 
          src="/assets/images/highSpeed-dark.svg"
          loading="lazy"
          alt="Optimized darkMode"
          />
            </picture>
          </div>
          <h3 class="section-title">High speed</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.</p>
        </div>
        <div class="block-item">
          <div class="icon-features">
            <picture class="block-icon iconlight">
              <img 
              src="/assets/images/seoServices.svg"
              loading="lazy"
              alt="Optimized lightMode"
              />
            </picture>
            <picture class="block-icon icondark">
          <img 
          src="/assets/images/seoServices-dark.svg"
          loading="lazy"
          alt="Optimized darkMode"
          />
            </picture>
          </div>
          <h3 class="section-title">SEO services</h3>
          <p>We take the necessary measures to ensure that your business appears higher when searched for in search results, enabling you to be more visible.</p>
        </div>
        <div class="block-item">
          <div class="icon-features">
            <picture class="block-icon iconlight">
              <img 
              src="/assets/images/logoBranding.svg"
              loading="lazy"
              alt="Optimized lightMode"
              />
            </picture>
            <picture class="block-icon icondark">
          <img 
          src="/assets/images/logoBranding-dark.svg"
          loading="lazy"
          alt="Optimized darkMode"
          />
            </picture>
          </div>
          <h3 class="section-title">Logo & branding</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.</p>
        </div>
        <div class="block-item">
          <div class="icon-features">
            <picture class="block-icon iconlight">
              <img 
              src="/assets/images/mobileFirst.svg"
              loading="lazy"
              alt="Optimized lightMode"
              />
            </picture>
            <picture class="block-icon icondark">
          <img 
          src="/assets/images/mobileFirst-dark.svg"
          loading="lazy"
          alt="Optimized darkMode"
          />
            </picture>
          </div>
          <h3 class="section-title">Made for phone</h3>
          <p>80% of the internet is mobile. Knowing this, we start by creating the website from the phone, moving on to other devices.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ourStory">
  <div class="container">
    <div class="blockWrapper">
      <img class="aboutImage setup" src="/assets/images/setup.jpg" alt="">
      <div class="content">
        <h2 class="section-title">Pse u krijua Prishtina Web Design?</h2>
        <p class="description">Misioni yne eshte te rrisim prezencen e bizneseve te vogla ne internet me nje webfaqe. Nuk mund ta ndertosh biznesin tuaj vetem ne rrjete sociale. Qfare do te ndodhe nese Facebook ndryshon rregullat e perdorimit? Po nese mbyllet llogaria juaj, ju thjeshte nuk do te egzistoni me! Webfaqe-ja eshte dhe do te mbetet menyra me e sigurte per te shfaqur biznesin tuaj ne nje menyre profesionale.</p>
      </div>
    </div>
  </div>
</section>
<section id="projects" class="projects">
  <div class="container">
    <div class="wrapper">
      <div class="upper-part">
        <div><span class="index">Portfolio</span></div>
        <h2 class="section-title">Some of our work over the years</h2>
        <p class="description">We have worked with clients across Europe for home service businesses, restaurants, consulting agencies, construction companies, clinics, stores, training centers, marketing firms, and many more. No matter what business you are in, we can build an effective, beautiful, high-performing website that is appropriate for your industry.</p>
      </div>

      <div class="cursor"></div>
      <div class="cursor-follower"></div>
      <div id="wrapper" class="projects-wrapper">
        <div class="portfolio-item">
          <div class="portfolio-thumb">
            <ul class="project-meta">
              <li>Web development</li>
              <li>Brand Identity</li>
            </ul>
            <img src="/assets/images/mam plumbing.jpg" loading="lazy" alt="MAM plumbing website" class="thumbnail"/>
          </div>
          <div class="heading">
            <h4 class="section-title">MAM - Sanitar, Heizung, Klima</h4>
            <li><img src="/assets/images/pin.svg" alt="">Bretten, DE</li>
            
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id blandit ligula, nec hendrerit leo. Ut eget sapien varius, pharetra lacus vel, posuere eros. Maecenas arcu libero, porta et massa sit.</p>
        </div>
        <div class="portfolio-item">
          <div class="portfolio-thumb">
            <a href="/matrixrentals"><ul class="project-meta">
              <li>Brand Identity</li>
              <li>CMS</li>
              <li>Web Development</li>
            </ul><img src="/assets/images/matrix properties.jpg" loading="lazy" alt="Tonn Investments website" class="thumbnail"/></a>
          </div>
          <div class="heading">
            <h4 class="section-title">Matrix Properties</h4>
            <li><img src="/assets/images/pin.svg" alt="">Prishtine</li>
          </div>
          <p>Matrix Properties is an apartment complex in the heart of Pristina! We created for them a modern website with a CMS system where the owner has the ability to add, change, or remove properties.

          </p>
        </div>       
        <div class="portfolio-item">
          <div class="portfolio-thumb">
            <ul class="project-meta">
              <li>Web redesign</li>

            </ul>
            <img src="/assets/images/buna beauty center.jpg" alt="Mesokrypto Website" loading="lazy" class="thumb-nail"/>
          </div>
          <div class="heading">
              <div class="section-title">Buna Beauty Center</div>
              <li><img src="/assets/images/pin.svg" alt="">Prishtine</li>
          </div>
          <p>Buna Beauty is a Beauty and Spa center in Prishtina. We redesigned their old website Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id blandit ligula, nec hendrerit leo. Ut eget sapien varius.</p>
        </div>
      </div>
      

      <div class="call"><a href="/work" class="btn --primary-button">View all projects</a></div>
    </div>
  </div>
</section>
<section class="testimonials">
  <div class="container">
    <div class="testimonialsWrapper">
      <div class="innerTestimonial">
        <div class="personaDetails">
          <div class="innerpersonaDetails">
            <img src="/assets/images/arbenMita.png" alt="">
            <div class="identity">
              <span>Arben Mita</span>
              <span>Maynooth, IT Department</span>
            </div>
          </div>
        </div>
        
        <p>I worked with this team to create our business website and I am very pleased with the final result. They were fast, accurate and very professional, providing us with a design that met all our needs in a modern style.</p>
        <img src="/assets/images/quote.svg" alt="" class="quote">
      </div>
    </div>
  </div>
</section>
<div class="cursor"></div>
<div class="cursor-follower"></div>