---
title: Matrix Properties
layout: 'base.njk'
---

<section>
          <div class="container-narrow">
            <div class="projectWrapper">
              <div class="titleHeader">
                <div class="contentSide">
                  <h1 class="section-title">Buna Beauty Center</h1>
                  <div class="spanWrapper">
                    <div class="singleSpan"><span class="index --primary-index">2024 - Ongoing</span></div>
                    <div class="seperator"></div>
                    <div class="spanGroup">
                    <span class="index --secondary-index">Web Refresh</span>
                    <span class="index --secondary-index">UI / UX</span>
                    </div>
                  </div>
                </div>
                <div class="descriptionSide">
                  <p>Buna Beauty is a Beauty and Spa center in Prishtina. We redesigned their old website Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id blandit ligula, nec hendrerit leo. Ut eget sapien varius.</p>
                  <a target="_blank" class="btn --primary-button" href="https://beautysaloncenter7.netlify.app/"><span class="action">Go to website</span><span></span></a>
                </div>
              </div>
              <div class="showcase">
                <div class="projectThubnail">
                    <img src="/assets/images/theflow.jpg" class="hidden" data-aos="fade-up" alt="">
                </div>
                <div class="sectionContent" data-aos="fade-in">
                    <h2 class="section-title">Web Dizajn & Zhvillim</h2>
                    <p>Ne krijuam nje web faqe moderne e cila reflekton vlerat komode, qe ofrojne apartamentet e Matrix Apartments. Web faqja ka te integruar sistemin e menagjimit te materialit (CMS), qe pronari te kete mundesi te shtoje, ndryshoje, ose fshije pronat e caktuara.</p>
                </div>
                <div class="websitePics">
                    <img src="/assets/images/sidetoside.jpg" data-aos="fade-up" alt="">
                    <img src="/assets/images/services grid.jpg" data-aos="fade-up" alt="">
                </div>
                <div id="wrapper" class="related-projects">
                  <div class="container">
                    <div class="wrapper">
                      <div class="upper-part">
                        <h2 class="section-title">See related projects</h2>
                      </div>
              
                      <div id="wrapper" class="projects-wrapper">
                        <div class="portfolio-item">
                          <div class="portfolio-thumb">
                            <a href="/matrixrentals"><ul class="project-meta">
                              <li>Brand Identity</li>
                              <li>CMS</li>
                              <li>Web Development</li>
                            </ul><img src="/assets/images/matrix properties.jpg" loading="lazy" alt="Tonn Investments website" class="thumbnail"/></a>
                          </div>
                          <div class="heading">
                            <h4 class="section-title">Matrix Properties</h4>
                            <li><img src="/assets/images/pin.svg" class="mapPin" alt="">Prishtine</li>
                          </div>
                          <p>Matrix Properties is an apartment complex in the heart of Pristina! We created for them a modern website with a CMS system where the owner has the ability to add, change, or remove properties.
              
                          </p>
                        </div>   
                        <div class="portfolio-item">
                          <div class="portfolio-thumb">
                            <ul class="project-meta">
                              <li>Web development</li>
                              <li>Brand Identity</li>
                            </ul>
                            <img src="/assets/images/mam plumbing.jpg" loading="lazy" alt="MAM plumbing website" class="thumbnail"/>
                          </div>
                          <div class="heading">
                            <h4 class="section-title">MAM - Sanitar, Heizung, Klima</h4>
                            <li><img src="/assets/images/pin.svg" class="mapPin" alt="">Bretten, DE</li>
                            
                          </div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id blandit ligula, nec hendrerit leo. Ut eget sapien varius, pharetra lacus vel, posuere eros. Maecenas arcu libero, porta et massa sit.</p>
                            </div>
                      </div>
                      
              
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
</section>
<div class="cursor"></div>
<div class="cursor-follower"></div>
<script>
  var cursor = $(".cursor"),
      follower = $(".cursor-follower");

  var posX = 0,
      posY = 0,
      mouseX = 0,
      mouseY = 0;

  TweenMax.to({}, 0.016, {
      repeat: -1,
      onRepeat: function() {
          posX += (mouseX - posX) / 9;
          posY += (mouseY - posY) / 9;

          TweenMax.set(follower, {
              css: {
                  left: posX - 20,
                  top: posY - 20
              }
          });

          TweenMax.set(cursor, {
              css: {
                  left: mouseX,
                  top: mouseY
              }
          });
      }
  });

  $(document).on("mousemove", function (e) {
    mouseX = e.clientX;
    mouseY = e.clientY;
  });

  $(".portfolio-thumb").on("mouseenter", function() {
      console.log($(".portfolio-item .thumb-nail"));
      cursor.addClass("active");
      follower.addClass("active");
  });

  $(".portfolio-thumb").on("mouseleave", function() {
      console.log($(".portfolio-item .thumb-nail"));
      cursor.removeClass("active");
      follower.removeClass("active");
  });
</script>