---
title: My homepage
layout: 'base.njk'
---

  <section id="hero" class="hero">
      <div class="bghero-image">
      </div>
      <div class="container">
        <div class="hero-wrapper">
          <div class="the-hero-widget">
            <h1 class="section-title">Web design për biznese
              të vogla + zhvillim</h1>
            <p>Ne ofrojmë web faqe standarde me rezultate të mira ― duke filluar
              prej €35 Euro / në muaj.</p>
            <div><a href="contact.html" class="btn --primary-button">Na kontaktoni</a></div>
            <picture>
              <img
              class="hero-illustration iconlight"
              src="assets/images/hero-illustration.svg"
              loading="lazy"
              alt="Web Development Illustration lightMode"
              />
              <img
              class="hero-illustration icondark"
              src="assets/images/hero-illustration-dark.svg"
              loading="lazy"
              alt="Web Development Illustration darkMode"
              />
            </picture>
          </div>
        </div>
      </div>
  </section>
  <section id="whatwedo" class="whatwedo">
      <div class="container">
        <div class="container-wrapper">
          <div class="upper-part">
          <h2 class="section-title">Çka po bojm</h2>
          <p class="description">Ne kodojmë website nga fillimi për një performancë më të shpejtë, e cila
            ndikon në rritjen e vizitorëve të faqes si dhe rritjen e fitimeve të biznesit tuaj.
            Në mënyrë që ju të fokusoheni vetëm në drejtimin e tij. <a href="services.html"><span style="font-weight: 500; color: var(--primary-color);">Lexo më shumë</span></p></a>
          </div>
          <div class="boxes-wrapper">
            <div class="block-item">
              <div class="icon-features">
                <picture class="block-icon iconlight">
                <img 
                src="assets/images/webdesign.svg"
                loading="lazy"
                alt="Web Design lightMode"
                />
                </picture>
                <picture class="block-icon icondark">
                <img 
                src="assets/images/webdesign-dark.svg"
                loading="lazy"
                alt="Web Design darkMode"
                />
                </picture>
              </div>
              <h3 class="section-title">Faqe e volitshme</h3>
              <p>Përmbajtja juaj online nuk duhet të jetë e dobët, duke shpresuar se funksionon.
                Ne e mendojmë atë mirë, dhe e vendosim në një radhitje të caktuar për të
                tërhequr më shumë klientë.</p>
            </div>
            <div class="block-item">
              <div class="icon-features">
                <picture class="block-icon iconlight">
              <img 
              src="assets/images/responsive.svg"
              loading="lazy"
              alt="Responsiveness lightMode"
              />
                </picture>
                <picture class="block-icon icondark">
              <img 
              src="assets/images/responsive-dark.svg"
              loading="lazy"
              alt="Responsiveness darkMode"
              />
                </picture>
              </div>
              <h3 class="section-title">Faqe fleksibile</h3>
              <p>Faqja juaj do të përshtatet në të gjitha llojet e pajisjeve si p.sh: telefon, laptop,
                kompjuter, si dhe tablet, në mënyrë që klientët tuaj të ju gjejnë më lehtë.</p>
            </div>
            <div class="block-item">
              <div class="icon-features">
                <picture class="block-icon iconlight">
              <img 
              src="assets/images/optimized.svg"
              loading="lazy"
              alt="Optimized lightMode"
              />
                </picture>
                <picture class="block-icon icondark">
              <img 
              src="assets/images/optimized-dark.svg"
              loading="lazy"
              alt="Optimized darkMode"
              />
                </picture>
              </div>
              <h3 class="section-title">Faqe për telefon</h3>
              <p>80% e internetit janë përdorues të telefonave mobil. Ne marrim masat e duhura
                që biznesi juaj të shfaqet më lart kur kërkohet dhe të performojë më mirë
                në makinat e kërkimit (Google).</p>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section class="features">
    <div class="container">
      <div class="container-wrapper">
        <div class="upper-part">
          <h2 class="section-title"><span class="subscription-plan">€ 35 Euro për muaj,</span>
            1 vjet minimumi i marreveshjes</h2>
          <p class="description">Pakoja përfshin një web faqe standarde me 5 nënfaqe. Nëse ju duhen më
            shumë, ne ju japim një çmim tjetër, duke u bazuar në madhësinë e projektit
            dhe kohën që na duhet për ta përfunduar. Domani dhe përmbajtja janë pronë e juaja. <br><br> Anuloni kontratën pas përfundimit të afatit pa ndonjë shqetësim.  
          </p>
        </div>
        <div class="features-widget">
          <div class="features-wrapper">
            <div class="feature-block">
              <div class="icon-feature">
                  <picture class="feature-icon iconlight">
                  <img 
                  src="assets/images/webdesign-icon.svg"
                  loading="lazy"
                  alt="Web Design lightMode"
                  />
                  </picture>
                  <picture class="feature-icon icondark">
                    <img 
                    src="assets/images/webdesign-icondark.svg"
                    loading="lazy"
                    alt="Web Design darkMode"
                    />
                  </picture>
              </div>             
              <div class="details-feature">
                <h3 class="section-title">Web design & zhvillim</h3>
                <p>Përfshin 40 orë të dizajnit, kodimit dhe testimit të web faqes.
                  Përfito më shumë në një çmim të vetëm.</p>
              </div>
            </div>
            <div class="feature-block">
              <div class="icon-feature">
                <picture class="feature-icon iconlight">
                  <img 
                  src="assets/images/hosting-icon.svg"
                  loading="lazy"
                  alt="Hosting lightMode"
                  />
                </picture>
                <picture class="feature-icon icondark">
                  <img 
                  src="assets/images/hosting-icon-dark.svg"
                  loading="lazy"
                  alt="Hosting darkMode"
                  />
                </picture>
              </div>
              <div class="details-feature">
                <h3 class="section-title">Hosting falas</h3>
                <p>Hosting falas për web faqe sipas nevojave të biznesit.
                  Hosting është si një banesë ku web faqja juaj pushon.</p>
              </div>
            </div>
            <div class="feature-block">
              <div class="icon-feature">
                  <picture class="feature-icon iconlight">
                  <img 
                  src="assets/images/unlimited-changes.svg"
                  loading="lazy"
                  alt="Unlimited changes lightMode"
                  />
                  </picture>
                  <picture class="feature-icon icondark">
                  <img 
                  src="assets/images/unlimited-changes-dark.svg"
                  loading="lazy"
                  alt="Unlimited changes darkMode"
                  />
                  </picture>
              </div>
              <div class="details-feature">
                <h3 class="section-title">Ndryshime pa limit</h3>
                <p>Ndrysho çfarë ke nevojë, kur të duhet dhe do të përfundohet atë ditë.
                  Thirr kurdo ditën apo natën.</p>
              </div>
            </div>
            <div class="feature-block">
              <div class="icon-feature">
                  <picture class="feature-icon iconlight">
                  <img 
                  src="assets/images/analytics-icon.svg"
                  loading="lazy"
                  alt="Analytics lightMode"
                  />
                  </picture>
                  <picture class="feature-icon icondark">
                  <img 
                  src="assets/images/analytics-icon-dark.svg"
                  loading="lazy"
                  alt="Analytics darkMode"
                  />
                  </picture>
              </div>
              <div class="details-feature">
                <h3 class="section-title">Google Analytics</h3>
                <p>Ne instalojmë Google Analytics falas për të parë prejardhjen e përdoruesve.</p>
              </div>
            </div>
          </div>
          <div class="image">
              <picture class="iconlight">
                <img
                class="guy-in-laptop"
                src="assets/images/guy-in-laptop.svg"
                loading="lazy"
                alt="Guy in laptop lightMode"
                />
              </picture>
              <picture class="icondark">
                <img
                class="guy-in-laptop"
                src="assets/images/guy-in-laptop-dark.svg"
                loading="lazy"
                alt="Guy in laptop darkMode"
                />
              </picture>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="process">
      <div class="container">
        <div class="global-wrapper">
          <div class="text-left">
            <h2 class="section-title">Si funksionon?</h2>
            <p class="description">Konsultohuni me ekipen — Rishikoni përfundimisht — Ne publikojmë web faqen.</p>
          </div>
          <div class="items-right">
            <div class="item">
              <div class="circle">1</div>
              <div class="text-right">
                <h3 class="section-title">Konsultimi me ekipën</h3>
                <p>Ne ju bëjmë disa pyetje rreth biznesit tuaj dhe çfarë ofroni.</p>
              </div>
            </div>
            <div class="item">
              <div class="circle">2</div>
              <div class="text-right">
                <h3 class="section-title">Krijimi i web faqes</h3>
                <p>Pastaj, ne fillojmë me krijimin e web faqes. Ne do ta rishikojmë nëse ka nevojë për ndryshime.</p>
              </div>
            </div>
            <div class="item">
              <div class="circle">3</div>
              <div class="text-right">
                <h3 class="section-title">Publikimi i web faqes</h3>
                <p>Në fund, ne ju dërgojmë një link për ta rishikuar përsëri, dhe nëse është në rregull, e publikojmë.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section id="projects" class="projects">
    <div class="container">
      <div class="wrapper">
        <h2 class="section-title">Projektet e fundit</h2>
        <div class="projects-wrapper">
          <div class="projects-item">
            <picture class="projects-img">
                <source
                srcset="assets/images/matrix-properties.webp"
                type="image/webp"
                />
                <img
                src="assets/images/matrix-properties.jpg"
                loading="lazy"
                alt="Tonn Investments website"
                />
            </picture>
            <div class="heading">
              <h4 class="section-title">Matrix Properties</h4>
              <p>Prishtine</p>
            </div>
            <p>Matrix Properties është një kompleks apartamentesh në zemër të Prishtinës! Ne krijuam per ta nje web faqe moderne me sistem CMS ku pronari ka mundesi te shtoje, ndryshoje, apo heq pronat.</p>
            <a href="matrixrentals.html" class="btn --primary-button">Shiko më shumë</a>
          </div>
          <div class="projects-item">
            <picture class="projects-img">
                <source
                srcset="assets/images/tonn investments.webp"
                type="image/webp"
                />
                <img
                src="assets/images/tonn investments.jpg"
                loading="lazy"
                alt="Tonn Investments website"
                />
            </picture>
            <div class="heading">
              <h4 class="section-title">Buna Beauty Center</h4>
              <p>Prishtine</p>
            </div>
            <p>Marka Tonn Investments bashkon shërbimet e mëposhtme financiare dhe kompanitë e pasurive të paluajtshme.</p>
            <a class="btn --secondary-button">Së shpejti</a>
          </div>
          <div class="projects-item">
              <picture class="projects-img">
                <source
                srcset="assets/images/meso krypto.webp"
                type="image/webp"
                />
                <img
                src="assets/images/meso krypto.jpg"
                alt="Mesokrypto Website"
                loading="lazy"
                />
              </picture>
              <div class="heading">
                <div class="section-title">MAM Sanitary</div>
                <div>Bretten, DE</div>
              </div>
              <p>Marka Tonn Investments bashkon shërbimet e mëposhtme financiare dhe kompanitë e pasurive të paluajtshme.</p>
              <a class="btn --secondary-button">Së shpejti</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about">
      <div class="container">
        <div class="container-wrapper">
          <div class="aboutus-wrapper">
            <picture class="image-side">
            <source
            srcset="assets/images/about.webp"
            /> 
            <img
            class="about-us"
            src="assets/images/about.jpg"
            loading="lazy"
            alt="Developer debugging code in his desk"
            />
            </picture>
            <div class="text-side">
            <h2 class="section-title">Rreth Nesh</h2>
            <p class="description">Ideja rreth biznesit ka lindur spontanisht kur, gjatë bashkëpunimit me një prej klienteve tanë, ai na pyeti nëse ka mundësi abonimi te shërbimi i jonë. Pas kësaj, na erdhi edhe ideja për të krijuar web faqe, mirëpo me një nyje. Kostoja e shërbimit me qenë e volitshme dhe mujore. <br><br> Kështu bizneset do të kenë më shumë mundësi të krijojnë prezencën e tyre online pa u shqetësuar shumë për koston e saj. <span style="color: var(--primary-color); font-weight: 500;"><a href="about.html">Lexo më shumë</a></span></p>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section id="price" class="pricing">
    <div class="container">
      <div class="container-wrapper">
        <div class="upper-part">
          <h2 class="section-title">Çmimet</h2>
          <p class="description">Rri i qetë, nuk ka asnjë kosto të fshehur.</p>
        </div>
        <div class="pricing-wrapper">
          <div class="pricing-box">
            <div class="pricing-heading">
              <h3 class="section-title">Abonimi</h3>
              <div class="pricing-popular-tag">Standard</div>
            </div>
            <div class="lower-info">

              <div class="price-tag">
                <span class="symbol">€</span>
                <span class="price">35</span>
                <span class="currency">EUR</span>
                
              </div>

              <p>Web faqe me 5 nën faqe</p>

              <div class="subscription">për muaj</div>
              
            </div>
            <ul class="benefits">
                <li>
                  <img
                    src="assets/images/tick-icon.svg"
                    loading="lazy"
                    alt="Tick icon"
                  />
                  Ndryshime pakufi
                </li>
                <li>
                  <img
                    src="assets/images/tick-icon.svg"
                    loading="lazy"
                    alt="Tick icon"
                  />
                  Hosting falas
                </li>
                <li>
                  <img
                    src="assets/images/tick-icon.svg"
                    loading="lazy"
                    alt="Tick icon"
                  />
                  24/7 support
                </li>
                <li>
                  <img
                    src="assets/images/tick-icon.svg"
                    loading="lazy"
                    alt="Tick icon"
                  />
                  Google Analytics
                </li>
                <li>
                  <img
                    src="assets/images/tick-icon.svg"
                    loading="lazy"
                    alt="Tick icon"
                  />
                  100 shpejtësi e web faqes
                </li>
            </ul>
            <a class="btn --primary-button" href="contact.html">Na kontaktoni</a>
          </div>
          <div class="pricing-box lump-sum">
            <div class="pricing-heading">
              <h3 class="section-title">Pagesa</h3>
            </div>
            <div class="lower-info">
              <div class="price-tag">
                <span class="symbol">€</span>
                <span class="price">800</span>
                <span class="currency">EUR</span>
              </div>

              <p>Duke filluar prej</p>

              <div class="subscription">Lorem ipsum</div>
              
            </div>
            <ul class="benefits">
              <li>
                  <img
                    src="assets/images/tick-icon.svg"
                    loading="lazy"
                    alt="Tick icon"
                  />
                  Dizajnuar me porosi
              </li>
              <li>
                  <img
                    src="assets/images/tick-icon.svg"
                    loading="lazy"
                    alt="Tick icon"
                  />
                  Çmim fiks i projektit
              </li>
              <li>
                  <img
                    src="assets/images/tick-icon.svg"
                    loading="lazy"
                    alt="Tick icon"
                  />
                  Ndryshim i përmbajtjes
              </li>
              <li>
                  <img
                    src="assets/images/tick-icon.svg"
                    loading="lazy"
                    alt="Tick icon"
                  />
                  Integrim i Shopify
              </li>
              <li>
                  <img
                    src="assets/images/tick-icon.svg"
                    loading="lazy"
                    alt="Tick icon"
                  />
                  E lehtë për tu përdorur
              </li>
            </ul>
            <a href="contact.html" class="btn --primary-button">Na kontaktoni</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="forwho" class="forWho">
      <div class="container">
        <div class="container-wrapper">
          <div class="heading-up">
            <h2 class="section-title">Për kë është Prishtina Web Design?</h2>
          </div>
          <div class="wrap">
            <div class="box">
              <div class="innerContent">
                <img src="assets/images/gastronomi.jpg" alt="">
                <div class="content">
                  <h3 class="section-title">Restaurantet</h3>
                  <p>Prezanto menyne për ta parë vizitorët para se të shkelin këmbë në hapësirën tuaj.</p>
                </div>
                <div class="overlay"></div>
              </div>
            </div>
            <div class="box">
              <div class="innerContent">
                <img src="assets/images/accountability.png" alt="">
                <div class="content">
                  <h3 class="section-title">Agjenci Konsultimi</h3>
                  <p>Jepni informata rreth shërbimeve të kontabilitetit, eksperiencës dhe kualifikimeve.</p>
                </div>
                <div class="overlay"></div>
              </div>
            </div>
            <div class="box">
              <div class="innerContent">
                <img src="assets/images/law firm.jpg" alt="">
                <div class="content">
                  <h3 class="section-title">Firma Ligjore</h3>
                  <p>Dëshmoni se jeni partner kredibil dhe keni vlera për një bashkëpunëtor të ri.</p>
                </div>
                <div class="overlay"></div>
              </div>
            </div>
            <div class="box">
              <div class="innerContent">
                <img src="assets/images/construction.jpg" alt="">
                <div class="content">
                  <h3 class="section-title">Kompani ndertimi</h3>
                  <p>Tregoni se jeni lider i vërtetuar për të realizuar dhe përfunduar projektet e dëshiruara.</p>
                </div>
                <div class="overlay"></div>
              </div>
            </div>
            <div class="box">
              <div class="innerContent">
                <img src="assets/images/onlineStore.jpg" alt="">
                <div class="content">
                  <h3 class="section-title">Dyqanet</h3>
                  <p>Publiko produktet & ofertat për të tërhequr më shumë shitje për biznesin tënd.</p>
                </div>
                <div class="overlay"></div>
              </div>
            </div>
            <div class="box">
              <div class="innerContent">
                <img src="assets/images/hospital.jpg" alt="">
                <div class="content">
                  <h3 class="section-title">Klinikat</h3>
                  <p>Shfaq se ofroni një mjedis të besueshëm dhe të sigurt për pacientët dhe familjaret e tyre.</p>
                </div>
                <div class="overlay"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>  
  <!--
  <section id="cta" class="cta">
     <div class="cta-container">
        <div class="cta-wrapper">
          <picture class="leaf iconlight">
            <img
            src="assets/images/leaf.svg"
            loading="lazy"
            alt="Leaf lightMode"
            />
          </picture>
          <picture class="leaf icondark">
            <img
            src="assets/images/leaf-dark.svg"
            loading="lazy"
            alt="Leaf darkMode"
            />
          </picture>
          <picture class="palma iconlight">
            <img
            src="assets/images/palma.svg"
            loading="lazy"
            alt="Leaf lightMode"
            />
          </picture>
          <picture class="palma icondark">
            <img
            src="assets/images/palma-dark.svg"
            loading="lazy"
            alt="Leaf darkMode"
            />
          </picture>
          <div class="center">
            <h1 class="tittle-cta">Lorem ipsum dolor sit amet</h1>
            <a class="primary-button" href="src/contact.html">Na kontaktoni</a>
          </div>
        </div>
      </div>
    </section>
    /-->
  